body, * {
	font-family: lucida console,consolas,courier new;
	font-size: small
}
html, body, .expand {height:100%}
.results {
	font-family: lucida console,consolas,courier new;
	color:white;
	background:#008;
	overflow-y:scroll
}
#debug {
	font-family: lucida console,consolas,courier new;
	background:#EEE;
	color:#333;
	overflow-y:scroll
}
#results table tr th {
	text-align: left;
	cursor: hand
}
#results table, #results table th, #results table td {
    border: 1px solid #eee;
}
input.button {
	color: #fff;
	background: #333
}
div#tabs {
	height: 100%
}